<div class="score">

    <div class="conts">
        <div class="score-title">User</div>
        <div id="user"></div>
    </div>
    
    <div class="conts">
        <div class="score-title">Computer</div>
        <div id="computer"></div>
    </div>
    
</div>