<div class="score">

    <div class="conts">
        <div class="score-title">User</div>
        <div id="user">0</div>
    </div>
    
    <div class="conts">
        <div class="score-title">Computer</div>
        <div id="computer">0</div>
    </div>

</div>